extends ../../layout/layout

block content
	section#lista-blogs
		.row
			.col-md-10
				h1 Blog
					a.btn.btn-success.btn-sm(href="/admin/docs/Blog/nuevo") <span class="glyphicon glyphicon-plus-sign" ></span> Nueva

		.row
			.col-md-12
				if data.length !== 0
					.table-responsive: table.table
						thead
							tr
								th Título
								th Slug
								th Ver
								th Editar
								th Borrar

						tbody
							each blog in data
								tr
									td: a(href='/admin/docs/Blog/'+blog._id)!= blog.title
									td= blog.slug
									td: a.text-success(href="/admin/docs/Blog/" + blog._id) <span class="glyphicon glyphicon-eye-open" ></span>
									td: a.text-info(href="/admin/docs/Blog/" + blog._id + "/editar") <span class="glyphicon glyphicon-pencil" ></span>
									td: a.text-danger.deleteDoc(href="/admin/docs/Blog/" + blog._id ) <span class="glyphicon glyphicon-remove" ></span>
				else
					p Todavía no existen blogs.
				script if (!parasubmit) {var parasubmit;};parasubmit = false;
