script var parasubmit = false;
doctype html
html
	//--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
	//--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
	include head
	body
		#wrapper
			//include ../includes/messages
			include sideleft
			#page-content-wrapper
				include header
				.page-content.inset
					block content
					include footer
