<!-- Sidebar -->
#sidebar-wrapper
	ul.sidebar-nav
		li.sidebar-brand: a(href="/admin", alt="Editorial Orange")
			img(src='/img/logoadmin.png' , style="max-width:76%; margin-top:35px;")
		li Documentos
		li: a(href="/admin/docs/Blog") Blog
		li: a(href="/") Ver web
		li: a(href="/user/logout", title="Salir") Salir
