extends ../../layout/doc_edit

block mainform
	.row
		.col-md-4.col-sm-6
			p.lead General
			.form-group
				label(for="displayImage") Avatar
				input(type="file", name="displayImage")
				p.help-block Cambia la imagen del user
			.form-group
				label Email
				input.form-control(type="text", name="email", value=data.email)
			.form-group
				label Rol
				select.form-control(name="rol")
					option= data.rol
					option Registrado
					option User
					option Admin
