extends ../../layout/doc_show

block content
	section(id="adminblog_" + data.id)

		.row
			.col-md-10
				h1 #{data.title}

				.panel.panel-default
					ul.list-group
						li.list-group-item
							!=data.entry

			.col-md-10
				img(src="/uploads/blog/" + data.image, style="max-width:100%px;")
